button {
    margin-left: 1rem;
}

#countrySelector {
    margin-left: 58px;
}

ul.countries {
    list-style: none;
}

ul.countries li {
    margin: 1rem;
}

.countryMedals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.assignmentVariantsCountry {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.country {
    border: 1px groove grey;
    border-radius: 5px;
    padding: .5rem;
}

.medalCount {
    margin-left: 15px;
}